body{
    background-image: url("doctor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

*{
    font-family: "Times New Roman";
    color: black;
    margin: 0;
    padding: 0;
}

.box{
    width: 400px;
    height: 200px;
    background: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 4px;
}